// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the common.variables.styl file
@import 'common.variables'

// Material only Quasar variables overwrites
// -----------------------------------------
// input 下拉横线的宽度
$textfield-border-size = 1px
// card 的样式
$card-box-shadow = 0.5px 1px 1px 1px rgba(0,0,0,.1)
// select 的宽度 
$picker-textfield-min-width = 4rem
// header 底部的阴影
$layout-header-shadow = 1px 1px 1px rgba(0,0,0,.09)
// 主色改为灰的
$primary = #494949
// 绿色
$secondary = #54b98f
// 左右的 layout, 灰色
$layout-aside-background = #fafafa

