// 一些覆盖不可配置样式的
// 小屏幕一律显示
@media (max-width: 767px) {
  .hover-show {
    opacity: 1;
  }
}
// card hover 时就显示
.card:hover .hover-show
  opacity: 1
// hover 时才显示
.hover-show
  transition: color 0.3s ease
  transition: visibility 0s, opacity 0.3s linear
  opacity: 0
// 占位隐藏
.hidden_bz     
  visibility hidden;
// 居中
.justify-content-bz
  display flex
  justify-content center
// 平均居中
.space-between-bz
  display flex
  justify-content space-between


// card
.card
  background #FFF
  &:hover
    box-shadow .5px 1px 1px 1px rgba(0,0,0,0.15)
// select 弹出的样式
.item,&.no-border
  font-size 0.9rem;
  &.active, &.router-link-active, &:focus
    background rgba(0, 0, 0, 0)

.list
  border: 0
  box-shadow 0.5px 1px 1px 1px rgba(0,0,0,0.1)
  > .item, &.no-border
    &:first-child
      margin-top 0px
    &:last-child
      margin-bottom 0px

body.desktop .item.item-link:hover
 background rgba(0, 0, 0, .03)
