// 一些覆盖不可配置样式的
// card
.card
  background #FFF
  &:hover
    box-shadow .5px 1px 1px 1px rgba(0,0,0,0.15)
// select 弹出的样式
.item,&.no-border
  font-size 0.9rem;
  &.active, &.router-link-active, &:focus
    background rgba(0, 0, 0, 0)

.list
  border: 0
  box-shadow 0.5px 1px 1px 1px rgba(0,0,0,0.1)
  > .item, &.no-border
    &:first-child
      margin-top 0px
    &:last-child
      margin-bottom 0px

body.desktop .item.item-link:hover
 background rgba(0, 0, 0, .03)
