// app global css
// 链接样式
a
  color: #767676;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  transition: color .25s;
.green-bz a // 让 green-bz 里的a高亮绿色(message content 里使用)
  color #2ea974

// 手机上
@media only screen and (max-width: 600px)
  // 取消边上的 padding 扩大可视范围
  .q-layout-padding
    padding: 1.5rem 0rem

