// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary   = #027BE3
$primary   = #26A69A
$secondary = #26A69A
$accent    = #9C27B0

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037


/*
// input 下拉横线的宽度
$textfield-border-size = 1px
// card 的样式
$card-box-shadow = 0.5px 1px 1px 1px rgba(0,0,0,.1)
// select 的宽度 
$picker-textfield-min-width = 4rem
// header 底部的阴影
$layout-header-shadow = 1px 1px 1px rgba(0,0,0,.09)
// 主色改为灰的
$primary = #494949
// 绿色
$secondary = #54b98f
// 左右的 layout, 灰色
$layout-aside-background = #fafafa
*/
